* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: auto;
    /* background-color: blue; */
}

h1, p {
    text-align: center;
}

form {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 1em;
    margin: .5em;
}

input:nth-last-child(1):hover {
    cursor: pointer;
}